
.slidetopo img {
    width: 100%;
}

.container {
    padding: 10;
    margin-top: -2%;
}

.texto h2 {
    color: #00008B;
    text-align: left;
    font-family: montserrat;
    font-size: 3vw;
}

.texto {
    margin-right: 50%;
    float: right; 
    font-family: 'arial';
    text-align: justify;
    font-size: 2vw;
}

.foto img {
    margin-top: 3%;
    width: 100%;
}