* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: montserrat;
}

.topofixo{
    position: fixed;
    width: 100%;
}
.principal {
    background-color: #FF8C00; 
    height: 6vw;
	font-weight: bold;
    padding: 1%;
}
img.logoimg {
    width: 4.4vw;
    float: left;
}
label.logotext {
	font-size: 4vw;
    float: left;
    margin-left: 0.5%;
}
.uninove {
    text-decoration: none;
    color: black;
    font-size: 4vw;
    float: right;
	margin-right: 2%;
}

nav.menu {
	background: black;
	height: 5vw;
	width: 100%;
}
nav.menu ul {
	float: right;
	margin-right: 1%;
}
nav.menu ul ul {
    display: grid;
	position: fixed;
    visibility: hidden;
}
nav.menu ul ul li {
    float: none;
    border-bottom: solid 1px white;
}
nav.menu ul li {
	display: inline-block;
	line-height: 5vw;
}
nav.menu ul li:hover ul {
    visibility: visible;
}
nav.menu a {
    display: block;
	color: white;
	font-size: 1.8vw;
	padding: 0px 15px;
    background-color: black;
}
nav.menu a:hover {
	background-color: #ff8c007c;
	transition: .3s;
}

section{
    padding-top: 11vmax;
}

label[for="check_menu"] {
    padding: 2px;
    background-color: black;
    color: white;
    font-family: "Arial";
    text-align: center;
    font-size: 3vw;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
}

#check_menu{
    display: none;
}

label[for="check_menu"] {
    display: none;
}

@media(max-width: 600px) {

    label[for="check_menu"] {
        display: block;
    }

    nav.menu a {
        font-size: 3vw;
        padding: 5px 15px;
    }

    nav.menu ul {
        line-height: 3vw;
        margin-right:55%;
        text-align: center;
        position: fixed;
        margin-left: -5px;
        margin-top: 10px;
        transition: all .3s linear;
    }
    nav.menu ul li {
        width: 100%;
        float: none;
        background: black;
        opacity: 85%;
    }
    nav.menu ul ul {  
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .3s;
    }
    nav.menu ul li:hover ul {
        height: auto;
        max-height: 250px;
        margin-right:5%;
    }

    #check_menu:checked ~ div nav.menu ul {     
        margin-left: -350%;
        transition: all .0s;
    }

    section {
        padding-top: 10vw;
        transition: all .3s;
    }
    /* 
    #check_menu:checked ~ section {      
        padding-top: 120px;
    } */

  }
