.container {
    padding: 10;
    margin-top: -2%;
}

.slidetopo img {
    width: 100%;
}

.texto h2 {
    color: black;
    text-align: left;
    font-family: montserrat;
    font-variant:normal;
}

.texto {
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
    margin-top: 2%;
    margin-right: 50%;
    float: right; 
    text-align: justify;
    font-variant:normal;
}

.foto {
    padding: 1%;
    margin-top: 3%;
    margin-left: 50%;
    float: right; 
    position: absolute;
}

.foto img {
    margin-top: 3%;
    width: 95%;
}

.empresa img {
    margin-top: 1%;
    width: 100%;
}


